namespace: test-api-canary

resources:
  - ../../app
  - ingress.yaml
  - namespace.yaml

replicas:
  - name: test-api
    count: 2

images:
  - name: test-api-image
    newName: jleetaxact/test-api
    newTag: 1.0.0

patchesStrategicMerge:
  - test-api-rollout-patch.yaml

configMapGenerator:
  - name: test-api-configmap
    literals:
      # Blue
      - COLOR=#0033FFFF
      - VERSION=1.0.0
      # Green
      #- COLOR=#1AA603FF
      #- VERSION=2.0.0
      - FLAKINESS=0